---
import Layout from "@layout/Layout.astro";

import IntSimple from "@components/intSimple.astro";
---

<Layout title="Calculadora Financiera">
  <section class="md:px-32  py-4 md:py-16 flex flex-col justify-center items-center">
    <h2 class="text-xl text-rose-600 py-4 font-bold">
      Calculadora finaciera con Astro
    </h2>

    <IntSimple />
  </section>
</Layout>
