---
import Layout from "@layout/Layout.astro";

const title: string = "Politicas de Privacidad";
const description: string = "Financial Calculator";
---

<Layout title={title}>
  <section class="py-4 flex flex-col justify-center items-center">
    <div class="w-4/5 md:w-3/5 flex flex-col justify-center px-2 py-6 gap-4">
      <h2 class="text-3xl text-rose-700 font-bold text-center">
        Política de privacidad
      </h2>
      <span class="font-bold">Última actualización: 7 de noviembre, 2024</span>
      <h3 class="text-xl font-bold">General</h3>
      <p>
        Nos comprometemos a proteger y respetar su privacidad. Esta Política de
        Privacidad explica cómo recopilamos, utilizamos y protegemos la
        información que usted nos proporciona al utilizar nuestros servicios en
        línea. Nosotros no vendemos, alquilamos ni compartimos la información recopilada
        de este sitio web de forma diferente a la que aquí se escribe.
      </p>
      <h3 class="text-xl font-bold">Google Analytics</h3>
      <p>
        Financial Calculator utiliza Google Analytics para monitorear el uso del
        sitio con el fin de mejorar la calidad de las páginas. Google Analytics
        utiliza cookies. Google Analytics recopila datos estadísticos no
        personales.
      </p>
      <p>
        Lea <a
          href="https://policies.google.com/technologies/partner-sites"
          target="_blank"
          aria-label="Política de privacidad de Google Analytics"
          rel="noopener noreferrer"
          class="text-rose-700 font-bold hover:underline"
        >
          cómo Google usa los datos cuando usa los sitios o aplicaciones de
          nuestros socios.</a
        > . Consulte también: <a
          href="https://policies.google.com/terms?hl=es"
          target="_blank"
          aria-label="Terminos y condiciones de Google Analytics"
          rel="noopener noreferrer"
          class="text-rose-700 font-bold hover:underline"
        >
          uso de cookies de Google Analytics</a
        > , política de privacidad de Google . Los usuarios pueden optar por no utilizar
        Google Analytics con este <a
          href="https://tools.google.com/dlpage/gaoptout"
          target="_blank"
          aria-label="Complemento del navegador"
          rel="noopener noreferrer"
          class="text-rose-700 font-bold hover:underline"
        >
          complemento del navegador.
        </a>
      </p>
      <h3 class="text-xl font-bold">Publicidad de Google</h3>
      <p>
        Los proveedores externos, incluido Google, utilizan cookies para
        publicar anuncios basados, en visitas anteriores de un usuario a este
        sitio web u otros sitios web.
      </p>
      <p>
        Consulte: <a
          href="https://developers.google.com/third-party-ads/googleads-vendors?hl=es-419"
          target="_blank"
          aria-label="Politicas de cookies de Adsense"
          rel="noopener noreferrer"
          class="text-rose-700 font-bold hover:underline"
          >Proveedores externos certificados por Google Ads</a
        >
      </p>
      <p>
        El uso de cookies publicitarias por parte de Google le permite a él y a
        sus socios ofrecer anuncios a los usuarios en función de su visita a sus
        sitios y / u otros sitios en Internet.
      </p>
      <h3 class="text-xl font-bold">Datos de la aplicación</h3>
      <p>
        Financial Calculator puede guardar la configuración del usuario o los
        datos de la aplicación del usuario en el almacenamiento local del
        navegador y no en nuestro servidor, por lo que la próxima vez que el
        usuario ingrese a la página, los datos estarán disponibles para el
        usuario. El usuario puede eliminar los datos de la aplicación borrando
        los datos de entrada o borrando la caché del navegador.
      </p>
      <h3 class="text-xl font-bold">Botones de redes sociales</h3>
      <p>
        Las páginas de Financial Calculator pueden contener botones para
        compartir en redes sociales. Cuando el usuario presiona el botón
        compartir, compartirá información, como URL y otros contenidos del
        usuario en la web social.
      </p>
      <h3 class="text-xl font-bold">Cambios a esta política de privacidad</h3>
      <p>Esta política de privacidad puede cambiar de vez en cuando.</p>
      <h3 class="text-xl font-bold">Información del contacto</h3>
      <p>
        Si tiene preguntas sobre esta política de privacidad, puede enviar un
        correo electrónico a: contact@ander-labs.site.
      </p>
    </div>
  </section>
</Layout>
